#home {
	background: #ffc107;
	color: white;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
}



element.style {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    transform-style: preserve-3d;
}